#TituloPrincipal{
    color:red;
}

.parrafos{
    text-align: center;
    color: green;
    font-weight: bold;
}

.enfasis{
    background-color: buttonshadow;
    color: red;
    
}

a{
    color:brown;
}

h1, p{
   /*Propiedades*/ 
}  
a:hover{
    background: green;
    color: white;   
}
a:active{
    background: red;
    color: black;   
}
a:visited{
    font-size: 20px; 
}
